html{
    scroll-behavior: smooth;
    font-family: 'League Spartan', sans-serif;
}

body{
    font-family:"loto", sans-serif;
    padding: 0;
    margine: 0;
}

nav{
    background-color: #232c5b;
    color: white;
    padding: 20px 50px
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderImg {
    z-index: 1;
}

#firsts{
    width: 60rem;
}

#jordan{
    width:50rem;
    transform: rotate(20deg);
}

#thirds{
    width: 50rem;
    transform: rotate(20deg);
}

.sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: white;
}

.sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: white;
}

.buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    background-color: black;
}

.product {
    height: 100vh;
    background-color: rgb(107, 101, 101);
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    background-color: black;
    z-index: 1;
    cursor: pointer;
}

.product {
    height: 100vh;
    background-color: rgb(107, 101, 101);
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
  
.payment {
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
}
  
.payTitle {
    font-size: 20px;
    color: lightgray;
}

.payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}

.productButton {
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}